
html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
  background-color: white;
}

.error {
  z-index: -1;
  position: fixed;
  top: 60%;
  left: 10%;
  font-size: 4em;
  letter-spacing: 3px;
  display: none;
  color: white;
  z-index: 1000;
}

.pointer-lock-tip {
  position: absolute;
  left: 180px;
  top: 60px;
  padding: 10px;
  color: rgb(60, 60, 60);
  box-shadow: 5px 5px 5px 0px;
  font-weight: bold;
  background-color: rgba(60, 60, 255, 0.498039);
  z-index: 100000000;

  display: none;
}

/* TITLE */

.snock-title {
  margin-top: 50px;
  font-size: 140px;
  font-style: italic;
  text-align: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* HUD */

.top-hud, .bottom-hud {
  position: fixed;
  display: none;
}

.top-hud {
  top: 6px;
  right: 6px;
}

.bottom-hud {
  bottom: 10px;
  right: 10px;
}

.current-space {
  display: inline-block;

  font-size: 12px;
  font-style: italic;
}

.world-coordinates {
  display: inline-block;
  margin-left: 10px;

  font-size: 12px;
  color: rgb(14, 14, 14);
}

.current-instructions {
  max-width: 500px;

  background-color: rgba(0, 0, 0, 0.12);
  color: rgb(60, 60, 60);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);

  padding: 5px;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
}

/* Avatar scene component */

.avatar-ui-wrapper {
  position: absolute;
  width: 100%;
  min-width: 1024px;
  height: 100%;
  min-height: 600px;
}

.avatar-name-form-wrapper {
  position: absolute;
  text-align: center;
  left: 25%;
  width: 50%;
  top: 300px;
}
#avatar-name-input {
  margin: 15px;
  height: 60px;
  width: 100%;
  border-radius: 10px;
  border: none;
  text-align: center;

  background-color: rgb(230, 230, 230);
  font-size: 32px;
  font-family: monospace;
  letter-spacing: 2px;
}
  #avatar-name-input:focus {
    outline: none;
    box-shadow: 0px 0px 20px 10px #ffbc96;
  }

.avatar-form-descriptor {
  margin-top: 3px;
  font-size: 11px;
  color: rgb(150, 150, 150);
}

.avatar-color-picker {
  display: none;
}

.avatar-color-picker-component {
  position: absolute;
  right: 0px;
  height: 250px;
  bottom: 30px;
}
#avatar-color-picker-slider {
  width: 30px;
  right: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#avatar-color-picker-picker {
  right: 45px;
  width: 280px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#avatar-color-picker-text {
  position: absolute;
  height: 15px;
  bottom: 280px;
  right: 0px;
  width: 310px;

  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  font-style: italic;
}

#avatar-image-drop-zone {
  position: absolute;
  bottom: 320px;
  right: 15px;
  height: 250px;
  width: 310px;

  line-height: 250px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  font-style: italic;

  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  text-shadow: 4px 3px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;

  display: none;
}
  #avatar-image-drop-zone.hover {
    color: gold;
    font-weight: bold;
    font-size: 20px;
  }
  #avatar-image-drop-zone img {
    display: block;
    margin: 10px auto;
  }
  #avatar-image-drop-zone p {
    margin: 10px;
    font-size: 14px;
  }

progress {
  width: 100%;
}
  progress:after {
    content: '%';
  }

.avatar-creation-submit-button {
  display: none;

  position: absolute;
  top: 60%;
  left: 50%;
  height: 300px; margin-top: -150px; line-height: 300px;
  width: 300px; margin-left: -150px;
  border-radius: 150px;

  background-color: rgb(255, 62, 97);
  color: white;
  text-align: center;
  font-size: 19px;
  box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.75);
  text-shadow: 4px 3px 8px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  font-weight: 100;

  cursor: pointer;
}
  .avatar-creation-submit-button:hover {
    background-color: rgb(255, 126, 62);
    box-shadow: 0px 0px 15px 15px rgba(46, 244, 143, 0.75);
  }

/* Door creation */

.door-ui-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(255, 0, 31, 0.25);
  display: none;
}

#door-name-input {
  position: absolute;
  left: 50%;
  top: 30%;
  height: 60px;
  width: 500px;
  margin: -40px -250px;

  border-radius: 10px;
  border: none;
  text-align: center;

  background-color: rgba(30, 30, 30, 0.9);
  color: white;
  font-size: 24px;
  font-family: monospace;
  letter-spacing: 2px;
}
  #door-name-input:focus {
    outline: none;
    box-shadow: 0px 0px 20px 10px #7571ee;
  }

.texture-option-picker {
  position: relative;

  top: 50%;
  left: 50%;
  height: 160px;
}

.door-texture-picker {
  width: 600px;
  margin: -60px -300px;
}

.door-wall-picker {
  width: 720px;
  margin: 40px -360px;
}

.note-texture-picker {
  width: 720px;
  margin: 0px -360px;
}

.texture-option {
  cursor: pointer;
  display: inline;

  margin: 20px;
}

  .texture-option img {
    width: 100px;
  }

.door-texture-option {}

  .door-texture-option img {
    box-shadow: 0px 0px 10px 10px rgb(131, 235, 82);
  }
    .door-texture-option img:hover {
      box-shadow: 0px 0px 10px 10px rgb(244, 85, 114);
    }

    .door-texture-option.selected-texture img {
      box-shadow: 0px 0px 10px 10px rgb(236, 122, 73);
    }

.door-wall-option {}

  .door-wall-option img {
    box-shadow: 0px 0px 10px 10px rgb(93, 140, 245);
  }
    .door-wall-option img:hover {
      box-shadow: 0px 0px 10px 10px rgb(65, 249, 144);
    }

    .door-wall-option.selected-texture img {
      box-shadow: 0px 0px 10px 10px rgb(125, 65, 241);
    }

.door-submit-button {
  position: relative;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 200px;
  margin: 0px -100px;

  line-height: 60px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}
  .door-submit-button:hover {
    background-color: orange;
  }

.door-error {
  display: none;
  background-color: white;
  padding: 40px;
  color: red;
  font-size: 18px;
}

.escape-button {
  position: absolute;
  border-radius: 2px;
  top: 20px;
  left: 20px;
  padding: 10px;

  text-decoration: underline;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
  .door-escape-button {
    box-shadow: 8px 8px 5px 0px rgba(60,0,0,0.5);
  }
  .message-escape-button {
    box-shadow: 8px 8px 5px 0px rgba(0,100,0,0.5);
  }

/* Message creation */

.message-ui-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(255, 0, 32, 0.5);
  display: none;
}

#message-content-input {
  position: absolute;
  left: 50%;
  top: 33%;
  height: 100px;
  width: 600px;
  margin: -50px -320px;

  padding: 20px;

  border-radius: 10px;
  border: 4px solid transparent;

  background-color: rgba(30, 30, 30, 0.95);
  color: white;
  font-size: 18px;
  line-height: 20px;
  font-family: monospace;
  letter-spacing: 2px;
}
  #message-content-input:focus {
    outline: none;
    box-shadow: 0px 0px 20px 10px #60b563;
  }

.note-texture-option {}

  .note-texture-option img {
    width: 66px;
    box-shadow: 0px 0px 10px 10px #f8ee22;
  }
    .note-texture-option img:hover {
      box-shadow: 0px 0px 10px 10px #3461ec;
    }

    .note-texture-option.selected-texture img {
      box-shadow: 0px 0px 10px 10px #f91095;
    }

.message-submit-button {
  position: relative;
  top: 65%;
  left: 50%;
  height: 60px;
  width: 200px;
  margin: -60px -100px;

  line-height: 60px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}
  .message-submit-button:hover {
    background-color: #3461ec;
    color: #f8ee22;
    font-style: italic;
    text-decoration: underline;
  }

.message-error {
  display: none;
  background-color: white;
  padding: 40px;
  color: red;
  font-size: 18px;
}
