
.avatar-ui-wrapper

  .snock-title SNOCK PLANET

  .avatar-name-form-wrapper
    form(name="avatar-name-form", id="avatar-name-form")
      input(type="text", id="avatar-name-input", name="avatar-name")
        
    .avatar-form-descriptor ENTER YOUR NAME / ENTER YOUR WORLD

  .avatar-color-picker
    #avatar-color-picker-picker.avatar-color-picker-component
    #avatar-color-picker-slider.avatar-color-picker-component
    #avatar-color-picker-text SLIDE YOUR COLOR

  #avatar-image-drop-zone

  .avatar-creation-submit-button ENTER SNOCK PLANET
