
.avatar-ui-wrapper

  .snock-title SNOCK PLANET

  .avatar-name-form-wrapper
    form(name="avatar-name-form", id="avatar-name-form")
      input(type="text", id="avatar-name-input", name="avatar-name")

  .avatar-color-picker
    #avatar-color-picker-picker.avatar-color-picker-component
    #avatar-color-picker-slider.avatar-color-picker-component

  #avatar-image-drop-zone

  .avatar-creation-submit-button Enter Snock Planet
