
.message-ui-wrapper

  .message-form-wrapper
    form(name="message-content-form", id="message-content-form")
      textarea(id="message-content-input", name="message-content")

  .message-submit-button post message
  
  .message-error
