
.door-ui-wrapper

  .door-form-wrapper
    form(name="door-name-form", id="door-name-form")
      input(type="text", id="door-name-input", name="door-name")

  .door-texture-picker
    .door-texture-option#wood-door-texture
      img(src="/images/wooden_door.jpg")
    
    .door-texture-option#metal-door-texture
      img(src="/images/metal_door.jpg")
        
    .door-texture-option#neon-door-texture
      img(src="/images/neon_door.jpg")
        
    .door-texture-option#rainbow-door-texture
      img(src="/images/rainbow_door.jpg")

  .door-submit-button create thread
  
  .door-error
