
.message-ui-wrapper

  .message-form-wrapper
    form(name="message-content-form", id="message-content-form")
      textarea(id="message-content-input", name="message-content")
        
  .note-texture-picker.texture-option-picker
    .note-texture-option.texture-option#note-texture-paper
      img(src="/images/paper_texture.jpg")
    
    .note-texture-option.texture-option#note-texture-tablet
      img(src="/images/stonetablet_texture.jpg")
        
    .note-texture-option.texture-option#note-texture-ipad
      img(src="/images/ipad_texture.jpg")
        
    .note-texture-option.texture-option#note-texture-googledocs
      img(src="/images/googledocs_texture.jpg")
        
    .note-texture-option.texture-option#note-texture-chalkboard
      img(src="/images/chalkboard_texture.jpg")

  .message-submit-button post message
  
  .message-escape-button.escape-button escape

  
  .message-error
