
.door-ui-wrapper

  .door-form-wrapper
    form(name="door-name-form", id="door-name-form")
      input(type="text", id="door-name-input", name="door-name")

  .door-texture-picker.texture-option-picker
    .door-texture-option.texture-option#wood-door-texture
      img(src="/images/wooden_door.jpg")
    
    .door-texture-option.texture-option#metal-door-texture
      img(src="/images/metal_door.jpg")
        
    .door-texture-option.texture-option#neon-door-texture
      img(src="/images/neon_door.jpg")
        
    .door-texture-option.texture-option#rainbow-door-texture
      img(src="/images/rainbow_door.jpg")
        
  .door-wall-picker.texture-option-picker
    .door-wall-option.texture-option#door-wall-factory
      img(src="/images/factory_room.jpg")
        
    .door-wall-option.texture-option#door-wall-farm
      img(src="/images/farm_room.jpg")
        
    .door-wall-option.texture-option#door-wall-girl
      img(src="/images/girl_room.jpg")
        
    .door-wall-option.texture-option#door-wall-space
      img(src="/images/space_room.jpg")
        
    .door-wall-option.texture-option#door-wall-underwater
      img(src="/images/underwater_room.jpg")            
        

  .door-submit-button create thread
  
  .door-escape-button.escape-button escape
  
  .door-error
