
.door-ui-wrapper

  .door-form-wrapper
    form(name="door-name-form", id="door-name-form")
      input(type="text", id="door-name-input", name="door-name")

  .door-texture-picker

  .door-submit-button create thread
