extends layout

block content
  if isDebug
    script(type='text/javascript', src='/javascripts/lib/three.js')
    script(type='text/javascript', src='/javascripts/lib/THREE.TargetCamera.js')
  else
    script(type='text/javascript', src='/javascripts/lib/three.min.js')
    script(type='text/javascript', src='/javascripts/lib/THREE.TargetCamera.min.js')
  
  script(type='text/javascript', src='/javascripts/lib/colorpicker.min.js')
  script(type='text/javascript', src='/javascripts/lib/typefaces/droid_sans_regular.typeface.min.js')
  
  .error Your browser can't handle this one very well.

  .top-hud
    .current-instructions

  .bottom-hud
    .current-space
    .world-coordinates
    .avatar-count 0 living others
    
  .question-mark ?
  .faq
    | Planet is a two-tiered earth-imitating interactive chat space.
    | Within the white first tier, you may create doors that lead to secondary
    | rooms. Within those secondary rooms, you may interact and leave messages about a specfic subject.
    | Planet is functional and welcomes all discussions. Technical
    | instructions can always be found in the upper-right hand corner. Connect with
    | people from everywhere in the world all from your very own room. A new Planet
    | is reborn every week: everything you've done is wiped clean. You can say
    | the right thing next week. You may not leave planet, only fall asleep. When
    | you return, you'll wake up right where you left. Planet is infinite. Be careful.
    | You can be anyone you want, starting today.
    .faq-credit#kevin (Snock) Planet is made by 
      a(href="http://www.porkf.at/", target="_blank") Kevin Roark Jr.
    .faq-credit#miguel Sonic Branding by 
      a(href="http://miserablechillers.bandcamp.com/", target="_blank") Miserable Chillers
    
  .pointer-lock-tip
    
  .loading-wrapper
    .loading LOADING
    
  #mobile-error-overlay
    p.
      NEW SNOCK PLANET IS FROM <a href="http://www.porkf.at">KEVIN ROARK JR</a>.
      IT IS CURRENTLY NOT AVAILABLE ON YOUR PHONE DUE TO TECHNICAL DIFFICULTIES.
      PLEASE COME BACK ON YOUR BIG COMPUTER. THANK YOU.

  include avatar-ui
  
  include create-door
  
  include create-message
  
  script(type='text/javascript').
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        document.querySelector('#mobile-error-overlay').style.display = 'block';
      }
  
  audio(id="background-music", preload, autoplay)
    source(src="http://s3.amazonaws.com/snock-planet/planet_bg.mp3", type="audio/mpeg")
    source(src="http://s3.amazonaws.com/snock-planet/planet_bg.ogg", type="audio/ogg")

  script(type='text/javascript').
      var serverConfig = {};
      serverConfig.ioURL="#{ioURL}";
      serverConfig.isDebug=#{isDebug};
      
  if isDebug
    script(type='text/javascript', src='/javascripts/build/build.js')
  else
    script(type='text/javascript', src='/javascripts/build/build.min.js')
