doctype html
html
  head
    title= title
    
    if isDebug
      link(rel='stylesheet', href='/stylesheets/style.css')
    else
      link(rel='stylesheet', href='/stylesheets/style.min.css')
    
    link(rel="icon", href="/images/favicon.png")
  body
      
    block content
