doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(type='text/javascript', src='/javascripts/lib/three.min.js')
    script(type='text/javascript', src='/javascripts/build.js')
    block content
