doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(type='text/javascript', src='/javascripts/lib/three.js')
    script(type='text/javascript', src='/javascripts/lib/THREE.TargetCamera.js')
    script(type='text/javascript', src='/javascripts/lib/pointerlockcontrols.js')
    script(type='text/javascript', src='/javascripts/lib/colorpicker.min.js')
    script(type='text/javascript', src='/javascripts/lib/typefaces/droid_sans_regular.typeface.js')
      
    block content

    script(type='text/javascript', src='/javascripts/build/build.js')
