doctype html
html
  head
    title= title
    
    if isDebug
      link(rel='stylesheet', href='/stylesheets/style.css')
    else
      link(rel='stylesheet', href='/stylesheets/style.min.css')
    
    link(rel="icon", href="/images/favicon.png")
    
    |<meta property="og:title" content="New Snock Planet"/>
    |<meta property="og:type" content="website"/>
    |<meta property="og:image" content="https://raw.githubusercontent.com/kevin-roark/SNOCK-PLANET/master/planet/public/media/screenshot.jpg"/>
    |<meta property="og:description" content="realtime realworld earth-imitating forum chat all discussions can be right here"/>
    |<meta property="og:url" content="http://www.newplanet.website"/>
    
    |<meta property="fb:admins" content="100000919641751"/>
    
    |<meta name="twitter:card" content="summary" />
    |<meta name="twitter:site" content="@LIMP__BISCUIT" />
    |<meta name="twitter:creator" content="@LIMP__BISCUIT" />
  body
      
    block content
